.conductAdaptations {
    margin-bottom: 2.5rem;
}

@media screen and (min-height: 250px) {
    #wrapper {
        height: 800px;
    }
}

@media screen and (min-height: 750px) {
    #wrapper {
        height: 100vh;
    }
}