/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

html {
  background: #332044;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #c38d7c;
  font-size: 3rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  font-family: "Playfair Display", serif;
  color: #eecdc3;
  font-size: 2rem;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  color: #ffffff;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
}

/* nav bar */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: linear-gradient(90deg, #1c1224, #1a1033);
  z-index: 100;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.navbar li {
  display: inline;
  text-align: center;
}

.navbar a {
  display: inline-block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.8rem;
}
.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 0.1rem;
  margin-top: 0.3rem;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after {
  width: 100%;
  left: 0;
}

.navbar .menu-btn i {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1rem;
}
.navbar .menu-btn {
  display: none;
}
input[type="checkbox"] {
  display: none;
}

/* responsive css for navbar  */
@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
  }
  .navbar .menu-btn {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .navbar ul {
    position: fixed;
    top: 3rem;
    left: -100%;
    background: linear-gradient(90deg, #1c1224, #1a1033);
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  .navbar ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
}

/* particles canvas */

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, #1c1224, #44336d);
  z-index: -1;
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.wrapper {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeh1,
.homep1 {
  text-align: center;
  animation-name: fadein;
  animation-fill-mode: forwards;
  opacity: 0;
}

.homeh1 {
  animation-duration: 3s;
  animation-delay: 1s;
}

.homep1 {
  animation-duration: 2s;
  animation-delay: 2s;
}

.mainbutton {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  text-decoration: none;
  border: 2px solid #2c81e2;
  border-radius: 200px;
  color: #2c81e2;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  padding: 1rem;
  cursor: pointer;
}

.mainbutton:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  color: #5ea9ff;
  border: 2px solid #5ea9ff;
}

.fa-discord {
  transform: translateY(-80%);
  animation-name: fadedown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #5c6bc0;
}

.flashwords {
  animation: flash 2s infinite ease-in-out alternate;
}

/* animations */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadedown {
  0% {
    transform: translateY(-80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    color: #ffdcd2;
  }
  100% {
    color: #c38d7c;
  }
}

/* responsive css for small phones  */

@media only screen and (max-height: 750px) {
  .fa-discord {
    font-size: 0rem;
  }
}
@media only screen and (max-height: 570px) {
  .flashwords {
    display: none;
  }
}
